@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.bg-container {
    background-color: #dee0e3;
    color: #827e7e;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.recently-uploaded {
    width: 100%;
}

.bg-navbar {
    background-color: #f7cb07;
    padding: 5px;
}

.text-colors {
    color: #6e6b6b;
}

.hr-color {
    background-color: white;
}

.progress-div {
    padding: 20px;
    text-align: center;
}

.admin-details {
    color: white;
}

.container-with-logs {
    overflow-x: scroll;
}

.dashboard {
    background-color: grey;
    height: 800px;
    padding: 30px;
    width: 25vw;
}

.main-dash {
    background-color: grey;
}

.progr {
    width: 200px;
    margin-left: 25px;
}

.icon {
    border-radius: 1.5rem;
    padding: 5px;
}

.left-ui {
    background-color: white;
}

.left-ui-black {
    background-color: black;
}

.pdf {
    width: 70px;
}

.each-recent {
    width: 100px;
    text-align: center;
    padding-right: 15px;
}

.horizontal-line {
    background-color: grey;
}

.sun-life-logo {
    width: 200px;
    padding: 25px;
}

.dec-life-logo {
    width: 200px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;

}

.borders {
    border-style: solid;
    border-width: 1px;
    width: 50%;
    border-bottom-width: 0px;
}

.borders-last {
    border-style: solid;
    border-width: 1px;
    width: 50%;
}

.bars-borders {
    border-style: solid;
    border-width: 1px;
    width: 50%;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.bars-borders-last {
    border-style: solid;
    border-width: 1px;
    width: 50%;
    border-left-width: 0px;
}

.recent-log {
    margin-top: 15px;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: grey;

}

.upload-options {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    .upload-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo-section-heading {
    color: grey;
    font-weight: bold;
    font-size: 26px;
}

.ori-logo-heading {
    color: grey;
    font-size: 24px;
}

.card {
    border-radius: 1.5rem;
    text-align: center;
    background-color: #e8e6d8;
    color: #6e6b6b;
    padding: 20px;
    width: 200px;
    margin: 5px;
}

@media screen and (max-width:400px) {
    .small-device {
        font-size: 18px;
        font-weight: bold;
    }

    .dec-life-logo {
        width: 100px;
    }

    .sun-life-logo {
        width: 100px;
    }
}

.report-division {
    background-color: black;
}

.input-search {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}